<!DOCTYPE HTML>
<!--
	Identity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Exchange Rate Calculator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
		<script src= "assets/js/jquery-3.1.0.js"></script>
		
		<script src= "assets/js/shared/angular.js"></script>
		
	</head>
	<body class="is-loading" ng-app="ExchangeCalculator">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" ng-controller="MainController">
						<header>
							<span class="avatar"><img src="images/avatar.jpg" alt="" /></span>
							<h1>Exchange Rate Calculator</h1>
						</header>	
						
							<div class="field">
								<input type="text" name="quantity" id="quantity" placeholder="Quantity" />
							</div>
							<div class="field">
								<div class="select-wrapper">
									<select name="currency" id="currency">
										<option value="">EUR - Euro</option>
										<option value="sales">USD - Dolar</option>
									</select>
								</div>
							</div>
								<div class="field">
								<div class="select-wrapper">
									<select name="to_convert" id="to_convert">
										<option value="">Euro</option>
										<option value="sales">Dolar</option>
									</select>
								</div>
							</div>	
							<ul class="actions">
								<li><button class="button" id="action_button" >Calculate exchange rate</button></li>
							</ul>
						
						<hr />
						<div id="result">
						<h1></h1>
						</div>
					
					</section>
					
					

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Mauricio Orta</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>
			
			<script src= "assets/js/app.js"></script>
			<script src= "assets/js/Calculator.js"></script>
		<script src= "assets/js/controller/MainController.js"></script>
			
			<!-- <script>
$( "#action_button" ).click(function() {
  calc_exchange_rate();
});
</script> -->


	</body>
</html>